body, html {
    margin: 0;
}

ul {
    list-style-type: none;
}

.structure {
    display: grid;
    height: 815px;
    grid-template: 1fr 3.5fr / 1fr 5fr;
    background-color: rgb(228, 225, 225);

}

.sidebar {
    position: relative;
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: #7dd3fc;
    display: grid;
    align-content: start;
    align-items: end;
    grid-template-rows: 1fr 2fr 4fr;
    box-shadow: 1px -5px 12px 0px rgb(136, 136, 136);
}

.sidebar-title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    align-self: center;
    justify-self: center;
    /* margin-left: -55px; */
}

.sidebar-menu {
    font-size: x-large;
    font-weight: bold;
    /* color: #f0f9ff; */
    color: white;
    display: grid;
    gap: 10px;
}

.mdi {
    margin-right: 20px;
}

.mdi-bike-fast{
    margin: 0px;
}

.part1, .part2 {
    display: grid;
    gap: 10px;
}

.header {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* justify-content: stretch; */
    align-items: center;
    padding-left: 25px;
    padding-right: 20px;
    border-bottom: 3px solid #2dd4bf;
    box-shadow: 0px 5px 3px 0px rgb(164, 164, 164);
}
 
.header-row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
}

.search-label {
    font-size: 20px;
    font-weight: bold;
}

#search-bar {
    margin-right: 100px;
    margin-left: -100px;
    /* height: 25px; */
    padding: 13px;
    width: 850px;
    border-radius: 25px;
    border-color: #2dd4bf;
    background-color: rgb(228, 225, 225);
    font-size: large;
}

#search-bar:focus {
    border-color: #2dd4bf;
     /* need to fix  */
}

.profile-pic {
    height: 55px;
    margin-left: -80px;
    margin-top: -10px;
}

.profile-pic2 {
    height: 70px;
    grid-row: 1/3;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
    margin-left: -80px;
}

.user-name2 {
    align-self: flex-start;
}

.header-row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100px;
}

.row2-section1 {
    display: grid;
    grid-template: 30px 70px / 1fr 7fr;
}

.row2-section2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting {
    font-weight: bold;
    grid-column: 2 /3;
    grid-row: 1 /2;
}

button {
    margin: 20px;
    height: 40px;
    width: 105px;
    border-radius: 25px;
    background-color: #2dd4bf;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 1px 3px 3px 0px rgb(194, 193, 193);
}

.dashboard {
    grid-column: 2;
    grid-row: 2;
    /* background-color: rgb(228, 225, 225); */
}

